#!/bin/sh

test -z "$PROFILEREAD" && . /etc/profile
#echo "PATH=$PATH"

. {{ solar_app_path }}/solar/scripts/env_setup.sh

export SLASVCALC_PORT={{ calc_port }}
export SLASVCALC_THREADS={{ calc_thread }}
export SLASVCALC_CONNECT={{ calc_connect }}
export SLASVCALC_BACKLOG={{ calc_backlog }}
